profiles {

  local {
    process.executor = 'local'
    withLabel: 'default' {
      cpus = 1
      memory = { 1.GB * task.attempt }
      time = { 1.h * task.attempt }
    }
  }

  standard {
    process.executor = 'LSF'
    process.queue = 'production'
    singularity.enabled = true
    singularity.autoMounts = true
    cpus = 1
    memory = { 1.GB * task.attempt }
    time = { 1.h * task.attempt }
    perJobMemLimit = true
    errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
    maxRetries = 3
  }

  slurm {
    process.executor = 'slurm'
    process.queue = 'standard'
    cpus = 1
    memory = { 1.GB * task.attempt }
    time = { 1.h * task.attempt }
    singularity.enabled = true
    singularity.autoMounts = true
    perJobMemLimit = true
    errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
    clusterOptions = '-t 24:00:00 -e errlog.txt'
    maxRetries = 3
  }
}

process.container = 'docker://dfam/tetools:latest'
